*{
    color: aqua;
}
body{
    background-color: black;
}
.header-top{
    width: 100%;
    height:10vh;
    text-align: center;
   
}
.form-container{
width: 100%;
height: 70vh;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
footer{
    position: absolute;
}
input{
    background-color: rgb(230, 98, 10);
    height: 5vh;
    width: 50vh;
    font-weight: 900;
    font-size: larger;
    border-radius: 6px;
    color: antiquewhite;
}
#random{
    color: rgb(239, 20, 118);
}
#elseh1{
    color: blanchedalmond;
}
input:hover{
    transition: 0.5s;
    animation:ease-in;
    cursor: pointer;
    opacity: 0.5;
}